.root {
    -fx-background-color: #f2f2f2;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-size: 14px;
    -fx-pref-height: 25px;
}

.generate-button {
    -fx-font-size: 14px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-pref-height: 25px;
}

.save-button {
    -fx-font-size: 14px;
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-pref-height: 25px;
}

.restore-button {
    -fx-font-size: 14px;
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-pref-height: 25px;
}

.exit-button {
    -fx-font-size: 14px;
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-pref-height: 25px;
}

.password-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.vbox {
    -fx-spacing: 10;
    -fx-padding: 20;
}

.author-label {
    -fx-font-size: 10px;
    -fx-text-fill: #808080;
}